.works-container {
    min-height: 100vh;
    width: 100%;
    background-color: #E0E0E0;
}


.works__quote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 20vw;
    padding: 0.5em 5vw;
}


.works__quote::before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}


.works__quote p {
    display: inline;
    font-family: 'Scope One', serif;
}