.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 9.5vh;
    width: 100%;
    background-color: #FFEBEC;
    border-top: 1.25px double #4D4D4D;
}


.nav-menu__options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-option {
    margin: 0 1.25vw;
    font-family: 'Rokkitt', serif;
    font-size: 1.35em;
    font-weight: 900;
    color: #4D4D4D;
}


.anchor {
    text-decoration: none;
}


.nav-menu__label {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: .85vh 0 0;
    font-family: 'Scope One', serif;
    font-weight: 700;
    font-size: .85em;
}


.nav-menu__icons {
    align-self: center;
    margin-right: 1.25vw;
}


.nav-menu__icons a {
    margin: 0 .45vw;
}