.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7.5vh;
    width: 100%;
    background-color: #FFEBEC;
    border-top: 1.25px double #4D4D4D;
}


.nav-menu__options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.menu-option {
    margin: 0 1.25vw;
}


.anchor {
    text-decoration: none;
}


.nav-menu__icons {
    align-self: center;
    margin-right: 1.25vw;
}