.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 98.75vw;
  min-height: 100vh;
  background-color: #E0E0E0;
}

.stock-image {
  height: 82vh;
  width: 28vw;
  padding: 0.5%;
  border: 4px #4D4D4D double;
}

.title-and-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-text {
  width: 28vw;
  margin: 0 0;
  padding: 0 0;
  color: #4D4D4D;
  font-family: 'Rokkitt', serif;
  font-size: 2.5em;
  font-weight: 900;
}

.double-chevrons-down {
  animation: motiondown 1.25s ease-in-out infinite;
}

.mission-text,
.vision-text {
  margin: 0 0;
  padding: 0 0;
  color: #4D4D4D;
  font-family: 'Scope One', serif;
  font-size: .85em;
  font-weight: normal;
}

.mission-text {
  position: relative;
  float: left;
}

.mission-text span {
  display: inline-block;
  position: absolute;
  left: -23.5vw;
  top: -68px;
  width: 1200px;
  transform: rotate(90deg);
}

.vision-text {
  position: relative;
  float: right;
}

.vision-text span {
  display: inline-block;
  position: absolute;
  width: 500px;
  left: -31.75vw;
  top: -311px;
  transform: rotate(-90deg);
}

@keyframes motiondown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(15%);
  }
}