.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #E0E0E0;
}

.stock-image {
  height: 70vh;
  width: 80vw;
  padding: 0.5%;
  border: 4px #4D4D4D double;
}

.title-and-svg {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.name-text {
  width: 76vw;
  margin: 0 0;
  padding: 0 0;
  color: #4D4D4D;
  font-family: 'Rokkitt', serif;
  font-size: 1.25em;
  font-weight: 900;
}

.double-chevrons-down {
  animation: motiondown .9s ease infinite;
}

.mission-text,
.vision-text {
  margin: 0 0;
  padding: 0 0;
  color: #4D4D4D;
  font-family: 'Scope One', serif;
  font-size: .6em;
  font-weight: normal;
}

.mission-text {
  position: relative;
}

.mission-text span {
  display: inline-block;
  position: absolute;
  left: -515px;
  top: 190px;
  width: 700px;
  transform: rotate(-90deg);
}

.vision-text {
  position: relative;
}

.vision-text span {
  display: inline-block;
  position: absolute;
  width: 500px;
  left: -85px;
  top: -300px;
  transform: rotate(90deg);
}

@keyframes motiondown {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(7%);
  }
  50% {
    transform: translateY(14%);
  }
  75% {
    transform: translateY(7%);
  }
  100% {
    transform: translateY(0%);
  }
}



@media (min-width: 1536px) {

  .App {
    display: flex;
    min-height: 100vh;
    background-color: #E0E0E0;
  }

  .title-and-svg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .name-text {
    width: 28vw;
    margin: 0 0;
    padding: 0 0;
    color: #4D4D4D;
    font-family: 'Rokkitt', serif;
    font-size: 2.5em;
    font-weight: 900;
  }

  .mission-text,
  .vision-text {
    margin: 0 0;
    padding: 0 0;
    color: #4D4D4D;
    font-family: 'Scope One', serif;
    font-size: .85em;
    font-weight: normal;
  }

  .mission-text {
    position: relative;
    float: left;
  }

  .vision-text {
    position: relative;
    float: right;
  }

  .mission-text span {
    display: inline-block;
    position: absolute;
    left: -532px;
    top: 290px;
    width: 600px;
    transform: rotate(-90deg);
  }

  .vision-text span {
    display: inline-block;
    position: absolute;
    width: 500px;
    left: -20px;
    top: -360px;
    transform: rotate(90deg);
  }

  .stock-image {
    height: 82vh;
    width: 28%;
    padding: 0.5%;
    border: 4px #4D4D4D double;
  }
  
}



@media (min-width: 1920px) {

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-color: #E0E0E0;
  }

  .title-and-svg {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .name-text {
    width: 28vw;
    margin: 0 0;
    padding: 0 0;
    color: #4D4D4D;
    font-family: 'Rokkitt', serif;
    font-size: 2.5em;
    font-weight: 900;
  }

  .mission-text,
  .vision-text {
    position: relative;
    margin: 0 0;
    padding: 0 0;
    color: #4D4D4D;
    font-family: 'Scope One', serif;
    font-size: .85em;
    font-weight: normal;
  }

  .mission-text {
    float: left;
  }

  .vision-text {
    float: right;
  }

  .mission-text span {
    display: inline-block;
    position: absolute;
    left: 25%;
    top: -315px;
    width: 600px;
    transform: rotate(90deg);
  }

  .vision-text span {
    display: inline-block;
    position: absolute;
    width: 500px;
    left: -696px;
    top: -265px;
    transform: rotate(-90deg);
  }

  .stock-image {
    height: 82vh;
    width: 28vw;
    padding: 0.5%;
    border: 4px #4D4D4D double;
  }

}